<div class="grid_12" id="contact_page">
  <div class="centered">
    <p>
      If you're interested in all things Letterspace, <br />
      we'd love to talk to you.
    </p>

    <ul>
      <li>Contact Lucy on:</li>
      <li>hello@letterspace.co.uk</li>
      <li>+44 (0)7701008030</li>
      <li>@letterspace_</li>
    </ul>
  </div>
</div>
