<div class="grid_12" id="contact_page">
  <div class="centered">
    <p>
      If you're interested in all things Letterspace, <br />
      we'd love to talk to you.
    </p>

    <ul>
      <li>Contact Lucy on:</li>
      <li><a href="mailto:hello@letterpace.co.uk">hello@letterspace.co.uk</a></li>
      <li>+44 (0)7701008030</li>
      <li><a href="http://www.instagram.com/letterspace_" target="_blank">@letterspace_</a></li>
    </ul>

    <p><button class="button" data-open="exampleModal1">Click me for a modal</button></p>

    <div class="reveal" id="exampleModal1" data-reveal>
      <h1>Awesome. I Have It.</h1>
      <p class="lead">Your couch. It is mine.</p>
      <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
