/*
	Ver. 1.3
	LRD: 05.07.16
*/

/***** MAKE SURE INCLUDE RESET.CSS *****/



/* Font Imports */
@font-face {
 font-family: 'effra_md';
 font-weight: normal;
 font-style: normal;
 src: asset-url('Effra_W_Md.eot');
 src: asset-url('Effra_W_Md.eot?#iefix') format('embedded-opentype'),
			asset-url('Effra_W_Md.woff') format('woff'),
			asset-url('Effra_W_Md.ttf') format('truetype');
}

@font-face {
 font-family: 'effra_rg';
 font-weight: normal;
 font-style: normal;
 src: asset-url('Effra_W_Rg.eot');
 src: asset-url('Effra_W_Rg.eot?#iefix') format('embedded-opentype'),
			asset-url('Effra_W_Rg.woff') format('woff'),
			asset-url('Effra_W_Rg.ttf') format('truetype');
}

@font-face {
 font-family: 'effra_lt';
 font-weight: normal;
 font-style: normal;
 src: asset-url('Effra_W_Lt.eot');
 src: asset-url('Effra_W_Lt.eot?#iefix') format('embedded-opentype'),
			asset-url('Effra_W_Lt.woff') format('woff'),
			asset-url('Effra_W_Lt.ttf') format('truetype');
}

@font-face {
 font-family: 'effra_bd';
 font-weight: normal;
 font-style: normal;
 src: asset-url('Effra_W_Bd.eot');
 src: asset-url('Effra_W_Bd.eot?#iefix') format('embedded-opentype'),
			asset-url('Effra_W_Bd.woff') format('woff'),
			asset-url('Effra_W_Bd.ttf') format('truetype');
}

/* Global Variables */

$primary-color: #fff; /* white */
$secondary-color: #f0f0f0; /* light gray */
$third-color: #ecbc15; /* yellow */
$fourth-color: #2c2c2c; /* black */
$fifth-color: #fedccc; /* pink */
$sixth-color: #a7e9f7; /* baby blue */
$seventh-color: #a1e3af; /* green */
$eighth-color: #a7a7a8; /* dark gray */

$font-light: 'effra_lt';
$font-regular: 'effra_rg';
$font-medium: 'effra_md';
$font-bold: 'effra_bd';


/* Core */
* { margin: 0; }
body,html { height: 100%; line-height: 1.3; color: $fourth-color; letter-spacing: 2px; font-family: $font-regular; }
img { max-width: 100%; }
.centered { margin: 0 auto; width: 90%; max-width: 1000px; text-align: left;  }
.clear { display: block; line-height: 0; font-size: 0; margin: 0; padding: 0; height: 0; overflow: hidden; clear: both; }
.border { background-image: url(bg.png); background-repeat: repeat-x; background-size: auto 15px; padding: 1.5% 0; }
.highlight { color: $fifth-color; }
.white { color: $primary-color; }
.center { text-align: center; }
a { color: $fourth-color; }
a:hover { color: $third-color; }

/* Page Styles */
/* 16px browser default */
h1 { font-size: 5.5em; /* 60px */ letter-spacing: 35px; /* 10px */ }
h2 { font-size: 1.875em; /* 30px */ letter-spacing: 5px; }
h3 { font-size: 1.75em; /* 28px */ line-height: 1.7; }
h4 { font-size: 1em; /* 16px */ }
h5 { font-size: 0.75em; /* 12px */ }
h6 { font-size: 0.625em; /* 10px */ }
p { font-size: 1.75em; /* 28px */ line-height: 1.7; /* 16px */  padding-bottom: 1.25em; /* 20px */ font-family: $font-light; }
li { font-size: 1em;}

strong { font-weight: bold; }
em { font-style: italic; }
style:focus { outline: 1; }
.small { font-size: 0.65em; }

/* Inputs to fix zoom on mobile */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }


/* Responsive Grid (target / context = result) */
/* based on 1000px base width and 16px browser default for fonts */
/* 1000px base width with 20px gutter */
/* Margin is % of the parent element not the element */

.grid_1 { width: 6.5%; } 		/* 65px */
.grid_2 { width: 15%; } 		/* 150px */
.grid_3 { width: 23.5%; } 	/* 235px */
.grid_4 { width: 32%; } 		/* 320px */
.grid_5 { width: 40.5%; } 	/* 405px */
.grid_6 { width: 49%; } 		/* 490px */
.grid_7 { width: 57.5%; } 	/* 575px */
.grid_8 { width: 66%; } 		/* 660px */
.grid_9 { width: 74.5%; } 	/* 745px */
.grid_10 { width: 83%; } 		/* 830px */
.grid_11 { width: 91.5%; } 	/* 915px */
.grid_12 { width: 100%; } 	/* 1000px */


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
		margin: 0 2% 0% 0%; /* 0 20px 0px 0px; */
		float: left;
		display: block;
}

.alpha { margin-left: 0px; }
.omega { margin-right: 0px; }


/* MAIN BUILD */

/* Header */
#header { margin: 2.5% 0% 0% 0%; }
.mainlogo { padding: 10% 0%; }
.logobg { background-color: $secondary-color; }
.strap { background-color: $primary-color; text-align: center; padding: 10%; }

/* Navigation */
nav { font-size: 1.875em; /* 30px */ letter-spacing: 5px; padding: 3.5% 0% 5% 0%; }
nav ul { padding: 2.5% 0% 0% 0% ; }
nav li { display: inline-block; letter-spacing: 6px; font-size: 0.875em; margin-right: 2.5%; }
nav li a { color: $fourth-color; }

/* Footer */

#contact { background-color: $fourth-color; color: $secondary-color; margin-bottom: 0; padding: 8% 0%; /* 80px 0px */
	li { display: inline-block;
		a { color: $primary-color; }
	}
	.social_btn { width: 15%; padding-right: 5%; }
	.hello { padding-top: 4.5%; }
	li:last-child { margin-right: 0; }
	p, li { padding-bottom: 0; margin-bottom: 0; font-size: 1.75em; /* 28px */ }
}
#sponsors { background-color: $primary-color;
	h4 { color: $eighth-color; margin-top: 2.5%; }
	ul { padding: 5% 0%; }
	li { display: inline-block; margin-right: 5%; background-color: red; padding-top: 1%; }
}

/* Content */
#content { text-align: center; }
.border {
	h2 { background-color: $primary-color; margin: 0 auto; display: inline-block; padding: 0% 5%; font-size: 2.1875em; /* 35px */ margin: -5%; padding-top: 4.3%; }
}
#newsletter { background-color: $secondary-color; padding: 5% 0%; margin: 2.5% 0; }
.follow { padding: 7.5% 0% 5.5% 0%; } /* 110px 0px 55px 0px */
#instagram { padding-bottom: 6.5% ; /* 65px */ }
#instagram .grid_4 { background-color: $secondary-color; padding: 15% 0%; }
#show { padding-top: 10%; }
#social{ padding: 2.5% 0%; }
#blurb { padding: 7.5% 0% 10% 0%;
	p { font-size: 1.75em; /* 28px */ line-height: 1.7; }
	a { border-bottom: 1px solid $third-color; padding-bottom: 0.5%; }
}

.subscribe_box { padding-top: 5%; }
#subscriber_email { width: 80%; display: inline-block; float: left; font-size: 1.5em; }
.subscribe_btn input { display: inline-block; float: left; width: 15%; font-size: 1.5em; font-weight: bold; letter-spacing: 2px; background-color: $fourth-color;	}
.subscribe_btn input:hover { background-color: $third-color; color: $fourth-color; }
.string.email.required { padding: 3.3%; border: #fff; }
#social h3 { text-align: left; }
.subscribe_input input, #contact li, #sponsors h4, #social h3 { font-family: $font-medium; }

#thanks { padding: 2.5% 0% 10% 0%; }

#featured { margin-bottom: 7.5%;
	h2 { font-size: 9.375em; /* 150px */ }
}

.product_box { width: 28%; display: inline-block; margin: 0% 2.5%; margin-bottom: 5%; border: solid 15px $fourth-color; text-align: center; padding: 5% 0% 10% 0; text-align: center;}
#newsletter h2, nav li, #header h1 { font-family: $font-bold; }
#newsletter h2 { letter-spacing: 6px; }

#outer-box { position: relative;
	h2 { font-family: $font-bold; }
}

#outer-box:hover #inner-box {
  opacity: 1;
  transition: opacity .5s;
}

#outer-box #inner-box {
  background: $secondary-color;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: opacity .5s;
	padding-top: 10%;
}

#outer-box #inner-box h4 {
	font-family: $font-regular;
  text-align: center;
	font-size: 1.5em;
}

#outer-box a {
	color: $fourth-color;
}

.designer_name { padding-top: 27.5%; font-family: $font-regular; }
.designer_location { font-family: $font-bold !important; }
.dash { margin: 10% 0; }
#show_image_box { background-color: $secondary-color; text-align: center; padding: 5% 0;
	p { padding-top: 5%; }
	.product_box { margin: 0; width: 40%;
		h2 { font-size: 20em; font-weight: $font-bold; padding-bottom: 5%; }
	}
}
#author_info_box { padding: 5% 0;
	h2, p { font-family: $font-medium; }
}
.show_description { padding-top: 2.5%; }
.show_button { font-family: $font-medium; background-color: $fifth-color; color: $fourth-color; }
.show_button:hover a { color: $third-color; }
#contact_page { padding: 0% 0% 20% 3%;
	li { font-size: 1.75em; /* 28px */ line-height: 1.7; }
}
a:active { color: $fifth-color !important; }
#shop_index { padding-bottom: 5%; }
#sponsor_box { padding: 5% 0%; text-align: center;
	img { width: 90%; }
}
#next_letter_box { padding: 5% 0%;
	li { display: inline-block; border-bottom: 1px solid; }
	li:first-child {margin-right: 5%; }
}
.show_box { width: 50%; margin: 0 auto; }
.product_image {width: 60%; margin: 0 auto; }
.product_text h3 { font-family: $font-medium; }
.shop_item_box { margin-bottom: 5%;
	li { line-height: 1.7;}
}
.paypal_button { margin: 2.5% 0%; }
.no_image { padding-top: 50%; }



/* Media Queries / Break Points */

@media screen and (max-width: 1024px) {

	.subscribe_btn input { display: block; width: 100%; }
	#subscriber_email { width: 100%; display: block; margin: 0; }
	nav .centered, #footer ul, header .centered { text-align: center; }
	#featured { margin: 0; padding: 0; }
	.product_box { width: 27.5%; }

	.product_box { border: solid 10px $fourth-color; padding-bottom: 5%; }
	#outer-box #inner-box h4 {
		font-size: 1.25em;
	}
	#featured { padding-bottom: 5%; }
}

@media screen and (max-width: 800px) {
	#header {
		.centered { text-align: center; }
		h1 { font-size: 2.5em; }
	}
	#featured { padding-bottom: 10%; }
}

@media screen and (max-width: 768px) {
	#header h1 { font-size: 3em; }
	#featured { padding-bottom: 10%; }
}

@media screen and (max-width: 750px) {
	#header h1 { font-size: 1.5em; }
	#featured { padding-bottom: 10%; }
}

@media screen and (max-width: 700px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}

	#header { margin: 6% 0% 4.5% 0%;  }
	#header .centered, nav .centered, #featured .centered { text-align: center; }
	h1 { font-size: 1.5em; /* 30px */ letter-spacing: 8px; }
	.border { padding: 5% 0; }
	.border h2 { font-size: 1.5625em; /* 25px */ letter-spacing: 5px; margin: -10%;}
	h3 { font-size: 1em; /* 16px */ line-height: 2; }
	.mainlogo { margin: 0 auto; }
	#instagram .grid_4, #footer .grid_4 { margin-bottom: 5%; }
	#subscriber_email { width: 100%; display: block; margin: 0; font-size: 1em; }
	.subscribe_btn input { display: block; width: 100%; font-size: 1em; }
	.string.email.required { padding: 5%; }
	#newsletter { padding: 10% 0%;
		h2 { font-size: 0.75em; /* 12px */ }
	}
	nav .centered { padding: 0% 10%; }
	nav {
		ul { padding-top: 5%; }
		li { font-size: 0.5em; }
	}
	#show, #blurb, #social { padding-top: 15%; }
	#blurb, #contact_page, #shop_index, { padding: 10%;
		p, { font-size: 1em; line-height: 1.4; }
	}
	#contact_page {
		li { font-size: 1em; line-height: 1.4; }
	} ul { padding-bottom: 10%; }
	#shop_index { padding-bottom: 20%; }
	#newsletter { margin: 10% 0% -5% 0%;
		h2 { font-size: 1.25em; }
	}
	#newsletter { padding: 10%; }
	#social h3 { margin: 0% 10%; }
	#footer {
		ul { text-align: center; padding: 0; margin: 0; }
		p, li { font-size: 1em; /* 16px */ padding: 0; margin: 0; }
		li { width: 100%; }
	}
	#sponsors {
		h4 { margin: 10%; }
		img { width: 50%; margin-bottom: 10%; }
	}
	.social_btn { width: 10% !important; }
	#thanks h2 { font-size: 1em; /* 16px */ }
	.product_box { width: 80%; padding-bottom: 30%; border: solid 10px $fourth-color; }
	#outer-box  { padding-top: 10%; }
	#contact li { margin-bottom: 10%; }
	#featured { padding-bottom: 7.5%; }

}
