/*
	Ver. 1.3
	LRD: 05.07.16
*/

/***** MAKE SURE INCLUDE RESET.CSS *****/



/* Font Imports */

@font-face {font-family: 'FuturaBT-Medium';src: asset-url('32BBFD_0_0.eot');src: asset-url('32BBFD_0_0.eot?#iefix') format('embedded-opentype'),asset-url('32BBFD_0_0.woff2') format('woff2'),asset-url('32BBFD_0_0.woff') format('woff'),asset-url('32BBFD_0_0.ttf') format('truetype');}

/* Global Variables */

$primary-color: #fff;
$secondary-color: #ECECEC; /* light gray */
$third-color: #e4febb; /* lime */
$fourth-color: #12162d; /* blue */
$fifth-color: #fedccc; /* pink */

/* Core */
* { margin: 0; }
body,html { height: 100%; line-height: 1.3; font-family: 'FuturaBT-Medium', serif; color: $fourth-color; font-weight: normal; font-style: normal; letter-spacing: 2px; }
img { max-width: 100%; }
.centered { margin: 0 auto; width: 90%; max-width: 1000px; text-align: center;  }
.clear { display: block; line-height: 0; font-size: 0; margin: 0; padding: 0; height: 0; overflow: hidden; clear: both; }
.border { background-image: url(bg.png); background-repeat: repeat-x; background-size: auto 20px; }
.highlight { color: $fifth-color; }
.white { color: $primary-color; }
.center { text-align: center; }
a { color: $primary-color; }
a:hover { color: $fifth-color; }

/* Page Styles */
/* 16px browser default */
h1 { font-size: 3.75em; /* 60px */ letter-spacing: 10px; /* 10px */ }
h2 { font-size: 1.875em; /* 30px */ letter-spacing: 5px; }
h3 { font-size: 1.75em; /* 28px */ line-height: 1.7; }
h4 { font-size: 1em; /* 16px */ }
h5 { font-size: 0.75em; /* 12px */ }
h6 { font-size: 0.625em; /* 10px */ }
p { font-size: 1em; /* 16px */  padding-bottom: 1.25em; /* 20px */  }
li { font-size: 1em;}

strong { font-weight: bold; }
em { font-style: italic; }
style:focus { outline: 1; }

/* Inputs to fix zoom on mobile */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }


/* Responsive Grid (target / context = result) */
/* based on 1000px base width and 16px browser default for fonts */
/* 1000px base width with 20px gutter */
/* Margin is % of the parent element not the element */

.grid_1 { width: 6.5%; } 		/* 65px */
.grid_2 { width: 15%; } 		/* 150px */
.grid_3 { width: 23.5%; } 	/* 235px */
.grid_4 { width: 32%; } 		/* 320px */
.grid_5 { width: 40.5%; } 	/* 405px */
.grid_6 { width: 49%; } 		/* 490px */
.grid_7 { width: 57.5%; } 	/* 575px */
.grid_8 { width: 66%; } 		/* 660px */
.grid_9 { width: 74.5%; } 	/* 745px */
.grid_10 { width: 83%; } 		/* 830px */
.grid_11 { width: 91.5%; } 	/* 915px */
.grid_12 { width: 100%; } 	/* 1000px */


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
		margin: 0 2% 0% 0%; /* 0 20px 0px 0px; */
		float: left;
		display: block;
}

.alpha { margin-left: 0px; }
.omega { margin-right: 0px; }


/* MAIN BUILD */

/* Header */
#header { margin-top: 5%; }
.mainlogo { margin: 0 auto; padding: 10% 0%; color: $primary-color; }
.logobg { background-color: $fourth-color; }
.strap { background-color: $primary-color; text-align: center; padding: 10%; }

/* Navigation */



/* Footer */
#footer { background-color: $fourth-color; color: $primary-color; margin-bottom: 0; padding: 8% 0%; /* 80px 0px */
	.centered { text-align: left; }
	li { display: inline-block; }
	.social_btn { width: 15%; padding-right: 5%; }
	.hello { padding-top: 5%; }
	li:last-child { margin-right: 0; }
	p, li { padding-bottom: 0; margin-bottom: 0; font-size: 1.75em; /* 28px */ }
}

/* Content */
#content { text-align: center; }
.border {
	h2 { background-color: $primary-color; margin: 0 auto; display: inline-block; padding: 0% 5%; font-size: 2.1875em; /* 35px */ margin: -5%; padding-top: 4.3%; }
}
#atoz, #newsletter { background-color: $fifth-color; }
.fill { padding: 1.5% 0px; } /* 15px 0px */
.follow { padding: 11% 0% 5.5% 0%; } /* 110px 0px 55px 0px */
#instagram { padding-bottom: 6.5% ; /* 65px */ }
#instagram .grid_4 { background-color: $secondary-color; padding: 15% 0%; }
#show, #read, #shop, #social { padding-top: 10%;
	h3 { padding-top: 8%; }
}
#shop { padding-bottom: 10%; }
#show { padding-bottom: 5%; }
#newsletter { padding: 5% 0%; }
#atoz { padding: 5% 0% 6% 0%;
	h2 { font-size: 3.4375em; /* 55px */ letter-spacing: normal; }
	h3 { padding-bottom: 1.8%; /* 18px */ }
	p { line-height: 2; padding-bottom: 0; }
}
.border { background-size: auto 10px; }
.subscribe_box { text-align: center; padding-top: 5%; }
#subscriber_email { width: 40%; display: inline-block; float: left; font-size: 1.5em; margin-left: 22%;}
.subscribe_btn input { display: inline-block; float: left; width: 15%; font-size: 1.5em; font-weight: bold; letter-spacing: 2px; background-color: $fourth-color;	}
.subscribe_btn input:hover { background-color: $third-color; color: $fourth-color; }
.string.email.required { padding: 3.3%; border: #fff; }

#thanks { padding: 10% 0%; }




/* Media Queries / Break Points */

@media screen and (max-width: 1100px) {

	.subscribe_btn input { display: block; width: 100%; }
	#subscriber_email { width: 100%; display: block; margin: 0; }

}

@media screen and (max-width: 700px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}

	h1 { font-size: 1.875em; /* 30px */ }
	.border h2 { font-size: 1.5625em; /* 25px */ letter-spacing: 5px; margin: -10%;}
	h3 { font-size: 1em; /* 16px */ line-height: 2; }
	.mainlogo { margin: 0 auto; }
	#instagram .grid_4, #footer .grid_4 { margin-bottom: 5%; }
	#subscriber_email { width: 100%; display: block; margin: 0; font-size: 1em; }
	.subscribe_btn input { display: block; width: 100%; font-size: 1em; }
	.string.email.required { padding: 5%; }
	#newsletter { padding: 10% 0%;
		h2 { font-size: 0.75em; /* 12px */ }
	}
	#atoz { padding: 10% 0% 12% 0%; }
	#show, #read, #shop, #social { padding-top: 15%; }
	#show { padding-bottom: 15%; }
	#footer p { margin-bottom: 10%; }
	#footer {
		p, li { font-size: 1em; /* 16px */ }
	}
	.social_btn { width: 10% !important; }
	#thanks h2 { font-size: 1em; /* 16px */ }

}
